import_flow_clipboard_example.txt
[{"id":"94cd3a06.7b2678","type":"mqtt in","z":"9362529c.648b6","name":"Chan19","topic":"Chan19","qos":"2","broker":"b7ba9ca5.4ada7","x":360,"y":220,"wires":[["3489d82e.6017d8"]]},{"id":"3489d82e.6017d8","type":"debug","z":"9362529c.648b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":220,"wires":[]},{"id":"3f21c69a.133b3a","type":"inject","z":"9362529c.648b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":320,"wires":[["4e558b87.9baab4"]]},{"id":"4e558b87.9baab4","type":"mqtt out","z":"9362529c.648b6","name":"Chan19","topic":"Chan19","qos":"","retain":"","broker":"b7ba9ca5.4ada7","x":620,"y":320,"wires":[]},{"id":"b7ba9ca5.4ada7","type":"mqtt-broker","z":"","name":"10.173.104.131","broker":"10.173.104.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
